In [9]:
import numpy as np

In [7]:
arr=np.array([1,2,3,4,5])
print("Array:",arr)

Array: [1 2 3 4 5]

In [11]:
arr1=np.array([[1,2,3,4,5],[6,7,8,9,10]])
print("2D array:",arr1)

2D array: [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [13]:
# indexing
print("First Element:",arr[0])
print("Last Element:",arr[-1])

First Element: 1
Last Element: 5

In [14]:
# advanced indexing
indices =np.array([0,2,4])
print("Elements at indices 0,2,4:",arr[indices])

Elements at indices 0,2,4: [1 3 5]

In [15]:
# update values
arr[0]=45
print("After updating:",arr)

After updating: [45  2  3  4  5]

In [17]:
#slicing
print("Slicing array:",arr[0:5:2])

Slicing array: [45  3  5]

In [19]:
# Basic operations
print("Array1:",arr)
arr2=np.array([6,7,8,9,10])
print("Array2:",arr2)

Array1: [45  2  3  4  5]
Array2: [ 6  7  8  9 10]

In [20]:
#addition
print("Add:",arr+arr2)

Add: [51  9 11 13 15]

In [21]:
#subtraction
print("Sub:",arr-arr2)

Sub: [39 -5 -5 -5 -5]

In [22]:
#multiplication
print("mul:",arr*arr2)

mul: [270  14  24  36  50]

In [23]:
#division
print("Div:",arr/arr2)

Div: [7.5        0.28571429 0.375      0.44444444 0.5       ]

In [ ]:
# working with pandas library

In [3]:
import pandas as pd

In [6]:
data={
    "Name":["Sugu","Maara","Deepa","Lakshmi"],
    "Age":[21,45,21,30],
    "Gender":['M','M','F','F'],
    "Salary":[50000,20000,40000,10000]
}
df=pd.DataFrame(data)
data

{'Name': ['Sugu', 'Maara', 'Deepa', 'Lakshmi'],
 'Age': [21, 45, 21, 30],
 'Gender': ['M', 'M', 'F', 'F'],
 'Salary': [50000, 20000, 40000, 10000]}

In [32]:
# filtering method
filtered_data=df[df["Age"]>=30]
print("After filtering:")
print(filtered_data)

After filtering:
      Name  Age Gender  Salary
1    Maara   45      M   20000
3  Lakshmi   30      F   10000

In [39]:
# sorting values
#ascending order
sorted_df=df.sort_values(by="Salary")
print(sorted_df)

      Name  Age Gender  Salary
3  Lakshmi   30      F   10000
1    Maara   45      M   20000
2    Deepa   21      F   40000
0     Sugu   21      M   50000

In [38]:
#descending order
sorted_df1=df.sort_values(by="Salary",ascending=False)
print(sorted_df1)

      Name  Age Gender  Salary
0     Sugu   21      M   50000
2    Deepa   21      F   40000
1    Maara   45      M   20000
3  Lakshmi   30      F   10000

In [13]:
#grouping
grouped_df=df.groupby('Gender').agg({'Age':'mean','Salary':'sum'})
print(grouped_df)

         Age  Salary
Gender
F       25.5   50000
M       33.0   70000

In [15]:
grouped_df1=df.groupby('Gender').agg({'Age':'median','Salary':'max'})
print(grouped_df1)

         Age  Salary
Gender
F       25.5   40000
M       33.0   50000

In [17]:
# reshaping
reshaped_df=df.pivot_table(index='Gender',columns='Name',values='Salary')
print(reshaped_df)

Name      Deepa  Lakshmi    Maara     Sugu
Gender
F       40000.0  10000.0      NaN      NaN
M           NaN      NaN  20000.0  50000.0

In [20]:
#transforming
df['Salary_adjusted']=df['Salary']*2
df

      Name  Age Gender  Salary  Salary_adjusted
0     Sugu   21      M   50000           100000
1    Maara   45      M   20000            40000
2    Deepa   21      F   40000            80000
3  Lakshmi   30      F   10000            20000